body{

}

*{
    cursor: url('images/—Pngtree—goldan\ 3d\ star\ emoji\ icon_13517547.png') 16 16, auto;
}

html{
    scroll-behavior: smooth;
}


svg{
    width: 40px;
    height: 40px;
}

#nav{
    position: fixed;
    bottom:40px;
    justify-self: center;
    z-index: 10;
    width: 70vh;
    background-color: rgba(0, 128, 255, 0.6);
    border-radius: 20px;
    
}
#navwrapper{
    position:relative
}
#iconswrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.icondiv{
    display: flex;
    flex-direction: column;
    transition: 0.2 ease-in-out;
}

.icondiv:hover{
    
    transform: rotateZ(20deg) scale(1.6);
    
    
}



#line{
    height: 40px;
    background-color: rgba(80, 203, 182, 0.8);
    border-radius: 20px;
    width: 100%;
    top: 0;
    left: 0;
    
}

/* .btn:hover,
.btn:focus,
.btn:active { */
 .btn {cursor:url('images/—Pngtree—goldan\ 3d\ star\ emoji\ icon_13517547.png') 16 16, pointer !important;
}

.buttons{
    width: 100px;
    height: 30px;
    border:none;
    border-radius: 5px;
    color: black;
    transition:all 0.3s;
}

#b1{
    background-color: aquamarine;
}

#b1:hover{
    background-color: aqua;
    color: white;
}

#b2{
    background-color: aqua;
    
}

#b2:hover{
    background-color: aquamarine;
    color: white;
}
.bigdiv{
    
    width: 100%;
    height: 100vh;
    display: block;
    transition: all 1s ease-in-out;
    
}


.mode{
    width: 100%;
    height: 400px;
}

.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

h1{
    color: aqua;
}

.headertext{
    

  font-family: Courgette, cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

.hometext{
    line-height: 30px;
    font-size: larger;
}

.navbar{
    
   height: 80px;
   width: 100%;
   
   position: fixed;
   top: 0;
   background-color: red;
}
#navbarNav{
    
}

#zanimage{
    height: 60px;
    width: 60px;
    margin-right: 30px;
    border-radius: 30%;
    
}
#div1{
    position: relative;
}

#animationcontainer{
    position: fixed;
    width: 100%;
    height: 100vh;
    
}

#starandcloud{
    position: absolute;
    width: 100%;
    height: 100vh;
    
}

#stars{
    position: absolute;
    width: 100%;
    height: inherit;
    transition: all 1s ease-in-out;
    opacity: 0;
    
}

.starsimage{
    position: absolute;
    width: 1%;
    
    animation:glow 3s ease-in-out  infinite;
    
}



@keyframes glow {
    0%{
        opacity: 1.5;
    }
    50%{
        opacity: 0.3;
    }

    100%{
        opacity: 1.5;
    }
}

@keyframes float {
    0%{
        transform: translateY(0);
    }

    50%{
         transform: translateY(15px);
    }

    100%{
        transform: translateY(0);
    }
}


.cloudsimagediv{
    width: 7%;
    animation:float 3s ease-in-out infinite;
    position:absolute
}
.cloudsimage{
    transition: all 1s ease-in-out;
    width: 100%;
    
}

#clouds{
    position: absolute;
    width: 100%;
    height: inherit;

}

.push1{
    transform: translateX(-1000%);
}

.push2{
    transform: translateX(+1000%);
}
.nightmood{
    background-color: #121212;
    color:#e5e5e5
}

#moonandsun{
    position: relative;
    top: 7vh;
    left: 10vh;
}
#moon{
    position: absolute;
    top: 800px;
    transition: top 1s ease-in;
}
#sun{
    position: absolute;
    top: 0;
    opacity: 1;
    transition: top 1s ease-in;

}
.div1content{
    position: absolute;
    align-self: center;
}

.navbar-brand{
    margin-left: 30px;
}

.bgvideodiv{
    width: 100%;
    height: 100vh;
    padding: 0;
}
video{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modebutton{
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 3;
}
#buttoncontainer{
    width: 60px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    border-radius: 10px;
    transition:all 0.4s ease-in;
}
#switch{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    position: absolute;
    border-radius: 10px;
    transition: left 0.4s ease-in;
    background-color: rgb(80, 80, 181);

}

.aboutmetext{
    line-height: 35px;
    
}

#div2{
   
    display: flex;
    
    
}

#div21{
    padding: 1vh;
    display: flex;
}

#div22{
    display: flex;
    
    
    
}

#div221{
    height: 50%;
    width: 70%;
    margin:  1vh;
    margin-top: 1vh;
    text-align: left;
}




#aboutmeimage{
    width: 70%;
    height: 70%;
    filter:saturate(100%);
    transition:filter 1s;
    box-shadow: 7px 7px 20px rgba(98, 183, 209, 0.8) ;
    justify-self: right;
    
}

#aboutmeimage:hover{
    filter:saturate(0)
}

#div3{
    position: relative;
    
}

#skillscontainer{
    z-index: 2;
    
    position: absolute;
    
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 111, 88, 0.8);
    width: 60vh;
    height: 40vh;
    border-radius: 10px;
}

.skillstext{
    
    justify-self: center;
    width: 80%;
    align-self: center;
    text-align: center;
    justify-self: center;
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: larger;
    line-height: 30px;

}

.div1content{
    height: 300px;
    width: 60%;
    /* text-align: center; */
}


@keyframes fadein{
    0%{
        
        
        transform: translate3d(10px,10px,10px);
        opacity:0;
    }
    20%{
        
        
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    80%{
       
        
         transform: translate3d(0,0,0);
         opacity: 1;
    }
    100%{
       
        
        transform: translate3d(-10px,-10px,-10px);
        opacity: 0;
    }
}



.animationFadeIn{
animation-name: fadein;
animation-duration: 4s;
animation-timing-function: ease-in-out;
}



.div4 h2{
    margin:0;
    align-self: center;
    height: 15%;
}
.projectdes{
    line-height: 30px;
    font-size: larger;
}
.projectcards{
    position: relative;
    width: 300px;
    margin-top: 70px;
    
    
}

.cardd{
    position:absolute;
    width: 45vh;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 50px;
    
}

.cardimage{
    width: 100%;
    height: 30vh;
}

.cardtitle{
    margin-top: 10px;
    margin-left: 10px;
}

.carddescription{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#div4{
    position: relative;
    
}
#div4wrapper{
    display: flex;
    flex-direction: row;
    height: 85%;
    
    
}

#div4childwrapper1{
    
    flex: 5;
    display: flex;
    justify-content: center;
   
   
    
}

#div4childwrapper2{
    flex: 5;
    display: flex;
    align-items: center;
    
    
}

.svg1{
    position: absolute;
    align-self: center;
    left: 2vh;
    scale: 2;
    z-index: 10;
}

.svg2{
    position: absolute;
    align-self: center;
    right: 2vh;
    scale: 2;
    z-index: 10;
}



@keyframes cardfadeout {
    0%{
        opacity: 1;
    }
    100%{
        transform: translate3d(150px,0,0);
        opacity: 0;
    }
}

@keyframes cardfadein {
    0%{
        transform: translate3d(150px,0,0);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.cardfadeoutani{
    animation: cardfadeout 1.5s ease-in-out ;
}

.cardfadeinani{
    animation: cardfadein 1.5s ease-in-out;
    
}

.disable{
    pointer-events: none;
}
.font{
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.elementstoreveal{
    opacity:0;
    transform: translate3d(0,70px,0);
    transition: all 1s ease-in-out;
}

.elementstoreveal.active{
    opacity:1;
    transform: translate3d(0,0,0);
}

#div5{
    display: flex;flex-direction: column;justify-items: center;
}



@media(max-width:767px){
    .headertext{
        font-size: smaller;
    }
    .hometext{
        font-size: 10px;
        line-height: 18px;
    }
    
    #div2{
        height: 50vh;
    }
    #div3{
        height: 70vh;
    }
    #div21{
        display: none;
    }

    
    #div22{
        width: 80%;
        align-self: center;
        justify-content: center
    }
    #div221{
        width: 70%;
        
        justify-content: center;
    }
    #title{
        font-size: smaller;
    }
    .aboutmetext{
        width: 70vh;
        font-size: 10px;
        line-height: 18px;
    }

    #skills{
    font-size: large;

    
}

    .skillstext{
        
        font-size: 10px;
        line-height: 15px;
    }

    #div4wrapper{
        flex-direction: column;
    }
    #div4{
        height: 150vh;
    }

    svg{
       top: 40vh;
    }

}

@media(min-width:768px){
    #div22{
        width:60%;
    }
    #div21{
        width: 40%;
    }
    #aboutmetext{
        font-size: 15px;
    }

    
}

@media(min-width:992px){
#div21, #div22{
   
   width: 50%;
   height: 100%;
   
}

#div21{
    display: flex;
    padding: 0;
    
}

#aboutmeimage{
    width: 70%;
    height: 70%;
    justify-self: right
};

#div22 p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: larger;
}



}